@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a,a:hover{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
h1,h2,h3,h4,h5,h6,p,ol,ul,li,a{
    margin-top: 0;
    margin-bottom: 0;
}
button:focus{
    outline: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
h2{
    font-size: 42px;
    color: #4e525d;
    text-transform: capitalize;
    font-weight: 400;
    padding-bottom: 10px;
}
/* common css ends */
header nav .navbar-nav .nav-item .nav-link{
    padding: 0 20px;
    line-height: 100px;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    color: #484c55;
    transition: all linear 0.4s;
    position: relative;
}
header nav .navbar-nav .nav-item .nav-link:hover{
    background: #f8f9fb;
    color: #49cbcd;
}
header nav .navbar-nav .nav-item .nav-link::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    background:  #49cbcd;
    bottom: 0;
    left: 0;
    opacity: 0;
}
header nav .navbar-nav .nav-item .nav-link.active{
    background: #f8f9fb;
    color: #49cbcd;
}
header nav .navbar-nav .nav-item .nav-link.active::after{
    opacity: 1;
}
header nav .navbar-nav .nav-item .nav-link:hover::after{
    opacity: 1;
}
/* header part ends */
#banner .first_slide{
    background: url(../image/banner-clean.jpg) no-repeat center;
    background-size: cover;
}
#banner .second_slide{
    background: url(../image/banner-2.jpg) no-repeat center;
    background-size: cover;
}
#banner .third_slide{
    background: url(../image/banner-3.jpg) no-repeat center;
    background-size: cover;
}
#banner h1{
    color: #fff;
    font-size: 63px;
    font-weight: 600;
    padding-top: 120px;
}
#banner p{
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    padding-top: 15px;
}
#banner .learn-more{
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    border: 3px solid #fff;
    line-height: 67px;
    display: inline-block;
    padding: 0 40px;
    margin-top: 40px;
    margin-bottom: 130px;
    border-radius: 4px;
    transition: all linear 0.4s;
}
#banner .learn-more:hover{
    background-color: white;
    color: #49cbcd;
    border-color: #49cbcd;
}
#banner a i{
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    color: #49cbcd;
    line-height: 40px;
    text-align: center;
}
#banner .carousel-control-prev, .carousel-control-next{
    opacity: 1;
}
/* banner part ends */
#service_part{
    padding-top: 100px;
    padding-bottom: 100px;
}
#service_part .text i{
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    text-align: center;
    border: 5px solid #49cbcd;
    color: #49cbcd;
    font-size: 40px;
}
#service_part .text h3{
    color: #4e525d;
    font-size: 22px;
    font-weight: 400;
    padding-top: 35px;
}
#service_part .text p{
    color: #4e525d;
    font-size: 15px;
    font-weight: 400;
    padding-top: 20px;
}
#service_part .text a{
    display: inline-block;
    background: #49cbcd;
    color: #fff;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    margin-top: 20px;
    border: 2px solid #49cbcd;
    transition: all linear 0.4s;
}
#service_part .text a:hover{
    background: none;
    color: #49cbcd;
}
/* service part ends */
#portfolio{
    background: #f1f1f1;
    padding: 50px 0;
}
#portfolio .item{
    margin-top: 30px;
}
#portfolio .item img{
    border-radius: 5px;
}
#portfolio a{
    display: inline-block;
    background: #49cbcd;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    padding: 0 40px;
    line-height: 60px;
    border-radius: 5px;
    margin-top: 60px;
    border: 2px solid #49cbcd;
    text-transform: capitalize;
    transition: all linear 0.4s;
}
#portfolio a:hover{
    background: none;
    color: #49cbcd;
}
/* team part ends */
#team h2{
    padding: 80px 0;
}
#team .team-member img{
    border-radius: 50%;
}
#team .team-member .image{
    position: relative;
    display: inline-block;
    border-radius: 50%;
}
#team .team-member .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #49cbcd52;
    top: 0;
    left: 0;
    border-radius: 50%;
    opacity: 0;
    transition: all linear 0.4s;
}
#team .team-member .overlay i{
    color: white;
    font-size: 30px;
    margin-top: 50%;
    transform: translateY(-50%);
    transition: all linear 0.4s;
}
#team .team-member:hover .overlay{
    opacity: 1;
}
#team .team-member .overlay i:hover{
    color: orangered;
}
#team .contents h4{
    font-size: 22px;
    font-weight: 400;
    color: #4e525d;
    margin-top: 70px;
    margin-bottom: 10px;
}
#team .contents p{
    font-size: 14px;
    font-weight: 400;
    color: #4e525d;
    margin-top: 2rem;
    margin-bottom: 100px;
}
#team .contents span{
    font-size: 14px;
    font-weight: 400;
    color: #4e525d;
}
/* team part ends */
#pricing_part{
    background: #f1f1f1;
    padding: 120px 0;
}
#pricing_part .contents h4{
    background: #484c55;
    font-size: 26px;
    color: white;
    line-height: 75px;
    font-weight: 400;
    transition: all linear 0.4s;
}
#pricing_part .contents h5{
    background: #f8f9fb;
    font-size: 20px;
    color: #485460;
    font-weight: 400;
    line-height: 60px;
}
#pricing_part .contents ul li{
    color: #8c9299;
    background: white;
    border-top: 1px solid #ecf0f1;
    padding: 15px 0;
}
#pricing_part .contents a{
    background: #788492;
    line-height: 40px;
    display: inline-block;
    color: white;
    font-weight: 600;
    padding: 0 50px;
    font-size: 17px;
    border-radius: 5px;
    transition: all linear 0.4s;
}
#pricing_part .contents h3{
    background: #f8f9fb;
    padding: 30px 0;
    border-top: 1px solid #ecf0f1;
}
#pricing_part .contents{
    border: 1px solid #ecf0f1;
}
#pricing_part .contents:hover a, #pricing_part .contents:hover h4, #pricing_part .pro .contents h4, #pricing_part .pro .contents a{
    background: #49cbcd;
}
/* pricing_part ends */
#testimonial{
    padding: 100px 0;
    background: white;
}
#testimonial p{
    counter-reset: #4e525d;
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 15px;;
}
#testimonial span{
    display: block;
    font-size: 21px;
    color: #9a8faf;
    padding-top: 25px;

}
#testimonial{
    position: relative;
}
#testimonial .right_arrow{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(27, 171, 190);
    right: -19%;
    top: 35px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    border-radius: 50%;
    color: white;
}
#testimonial .left_arrow{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgb(27, 171, 190);
    left: -19%;
    top: 35px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    border-radius: 50%;
    color: white;
}
/* Testimonal part ends */
#contact_part{
    padding: 100px 0;
    background: url(../image/footer-img.jpg) no-repeat center;
    background-size: cover;
}
#contact_part h2{
    color: white;
    padding-bottom: 100px;
}
#contact_part address h4{
    color: white;
    font-size: 24px;
    font-weight: 400;
}
#contact_part address p{
    color: white;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 40px;
}
#contact_part address .social-icon li{
    display: inline-block;
}
#contact_part address .social-icon li a i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: lemonchiffon;
    font-size: 25px;
    border-radius: 50%;
    margin-right: 12px;
}
#contact_part address .social-icon li a i.fa-facebook-f{
    background: #3b5997;
    color: white;
}
#contact_part address .social-icon li a i.fa-twitter{
    background: #3ec2f3;
    color: white;
}
#contact_part address .social-icon li a i.fa-google-plus-g{
    background: #e44c41;
    color: white;
}
#contact_part address .social-icon li a i:hover{
    background: white;
    color: tomato;
}
#contact_part address .info{
    margin-top: 15px;
}
#contact_part address .info li a{
    color: #9a8faf;
    font-size: 14px;
    font-weight: 400;
    transition: all linear 0.4s;
    text-align: justify;
}
#contact_part address .info li a:hover{
    color: white;
}
#contact_part .form_area .input{
    width: 100%;
    height: 44px;
    background-color: white;
    border: 0;
    margin-bottom: 30px;
    padding: 0 20px;
    color: #c1c1c1;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
}
#contact_part .form_area textarea.input{
    height: 180px;
    resize: none;
    padding: 20px;
}
#contact_part .form_area .send{
    color: white;
    font-size: 22px;
    font-weight: 400;
    background: #49cbcd;
    border: none;
    line-height: 50px;
    padding: 0 60px;
    border-radius: 5px;
}
/* ********contact part ends***************** */
/* .nav_fixed{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
} */
/* *********************Fixed menu ends********************** */
.gotopbtn{
    width: 40px;
    height: 40px;
    background-color: rgb(235, 13, 24);
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    border-radius: 4px;
    display: none;
}
.nav-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 9999;;
}
/* **********************go top button ends ********************* */
